*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-position: top center;
}

.app-wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient( to bottom, rgba(0,0,0,0.3) ,rgba(0,0,0,0.6) );
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input{
    width: 100%;
    max-width: 280px;
    padding: 10px 15px ;
    border: none;
    outline: none;
    color: #313131;
    background-color: rgba(225, 225 , 225 , 0.5);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #bf8e00;
}

header input:focus{
    background-color: rgba(225, 225 , 225 );
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px 25px 50px;
    flex: 1 1 100%;
}

.location .city{
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date{
    color: #ffffff;
    font-size: 16px;
}

.current .temp{
    color: #ffffff;
    font-size: 100px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 5px rgba(0,0,0,0.6);
}

.current .temp span{
    font-weight: 500;
}

.current .weather{
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0,0,0,0.4);
}

.current .hi-low{
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0,0,0,0.4);
}
